body {
    background: #efefef;
}

/* nav + breadcrumb */
.nav-background {
    background: white;
}
.navbar-brand {
 padding: 0 15px;
 font-family: 'Caveat', cursive;
 font-size: 25px;
}
.nav-item {
    padding: 0 5px;
}
.personnal-breadcrumb {
    background: white;
    padding: 0 0 15px 30px;
}

/* Carousel */

.carousel-inner {
    padding: 20px  0; 
}

/* sections */ 

.white-background {
    background: white;
    text-align: center;
}
.black-background {
    background: black;
    color: white;
    text-align: center;
}

section {
    padding: 30px 0; 
}

p.highlight {
    font-size: 20px;
    padding-bottom: 30px;
}
@media (max-width: 700px){
    h1 {
        font-size: calc(.1em + 4.8vw);
    }
    p.highlight {
        font-size: calc(.1em + 3.5vw);
    }
}

h2 {
    padding: 10px 0;
}

/* Footer */ 

footer {
    padding-bottom: 20px;
}

.no-bullet {
list-style-type: none;
padding-top: 25px;
}

.rs-logo {
    height : 5vh;
    width: auto;
    margin: 0 10px;
}

/* Event */ 

.date {
    font-weight: 800;
    font-size: 20px;
}